@import "Core/styles/mixins.scss";

.container {
  padding: 24px 0;

  ul {

    li {

      svg {
        margin-top: 2px;
        font-size : 18px;
      }
    }
  }

  @include mobile {
    padding-top: 0;
  }
}