$color-white     : #FFFFFF;
$color-dark      :#290D4D;
$color-blue      :#7C8FF1;
$color-lightBlue :#F2F4FE;
$color-yellow    :#C59247;

$color-primary : $color-blue;

$font-family : 'Poppins',
sans-serif;